# Dependencies
node_modules

# Build output
dist
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editors / OS
.DS_Store
Thumbs.db
.idea
.vscode/*
!.vscode/extensions.json

# Environment
.env
.env.local
.env.*.local

# Vercel
.vercel
